POSTGRES_DB=cyimage
POSTGRES_USER=cyimage
POSTGRES_PASSWORD=change-me

SECRET_KEY=change-me

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

WECHAT_MCHID=
WECHAT_APPID=
WECHAT_APIV3_KEY=
WECHAT_CERT_SERIAL_NO=
WECHAT_PRIVATE_KEY_PATH=/app/certs/apiclient_key.pem
WECHAT_PUBLIC_KEY_PATH=/app/certs/wechatpay_public_key.pem
WECHAT_PUBLIC_KEY_ID=

WECHAT_NOTIFY_URL=https://www.zjcypc.com/api/pay/notify
SERVER_BASE_URL=https://www.zjcypc.com
